target
lib_managed
server/project/build/target
server/project/boot
*.swp
*~

# IDEA configuration
*.iml
.idea

# Eclipse configuration
.settings
.classpath
.project
.manager
.scala_dependencies

# Other source control
.svn

# Databases
*.db

# Local properties
nabbd.properties


# Cloud hosting
deploy-to-cloudbees.sh
local.deploy.properties
gae-password.txt

# iOS App
*/build/
*/*.xcodeproj/*.mode1v3
*/*.xcodeproj/*.pbxuser
*/*.xcodeproj/*.xcworkspace/
*/*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
*/.DS_Store

